
.header{
  position: absolute;
  top: 2px;
  left: 40px;
  width: 150px;
  height: 100px;
}
.logo{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  height: 100vh;   
  background-image: url("./images/netflixbanner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.background{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.div-form-container{
 position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-container{
  background: rgba(0, 0, 0, 0.85);
  padding: 40px;
  border-radius: 10px;
  width: 350px;
  color: white;
  display: block;
  text-align: center;
}
input[type="text"],
input[type="email"],  
input[type="password"]{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 3px solid #161b55;
  background-color: transparent ;
  color: white;
  
}
label{
  display: block;
  text-align: left;
  margin-top: 2px;
}
button{
  width: 100%;
  padding: 10px;
  background-color: #e50914;
  color: white;
  border: none;
  cursor: pointer;
}